html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:root {
    --white: #FFFFFF;
    --pink: #EF476F;
    --blue: #3F43C5;
    --black: #000000;
    --green: #3EDAA2;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"),
      url("../fonts/montserrat-v21-latin_cyrillic-800.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-800.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
      url("../fonts/montserrat-v21-latin_cyrillic-700.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"),
      url("../fonts/montserrat-v21-latin_cyrillic-600.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-600.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
        url("../fonts/montserrat-v21-latin_cyrillic-regular.woff2") format("woff2"),
        url("../fonts/montserrat-v21-latin_cyrillic-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:  url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: QuinqueFive;
    src:  url("../fonts/QuinqueFive.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf")
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    margin: 0 auto;
    min-width: 1800px;
}

input {
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit; 
    margin: 0
}

.button-reset { 
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container__blue {
    background-color: var(--blue);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 100px;
    min-width: 1800px;
}

.container__blue-footer {
    background-color: var(--blue);
    margin: 0 auto;
    width: 100%;
}

.container__white {
    background-color: var(--white);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}

.web-adaptive-header {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -201px;
}

.web-adaptive {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Header */

.header__position-home {
    margin-left: auto;
    margin-right: auto;
}

.header__menu {  
    height: 160px;
    align-items: center;
    justify-content: space-between;

}

.header__link-logo {
    margin-left: 130px;
}

.header__menu-right {
    margin-right: 124px;    
}

.header__button {
    font-size: 24px;
    padding: 24px 56px 24px 56px;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 12px;
    border-style: solid;
    border-color: var(--pink);
    cursor: pointer;
    font-weight: 600;
    transition: border-color .2s linear, background-color .2s linear;
}

.header__button:focus {
    background-color: #FF6489;
    border-color: #FF6489;
}

.header__button:hover {
    background-color: #FF6489;
    border-color: #FF6489;
}

.header__button:active {
    background-color: #CE3D60;
    border-color:#CE3D60;
}

.header__link {
    color: var(--blue);
    font-size: 24px;
    margin-right: 60px;
    font-weight: 600;
}

.header__link-home {
    color: var(--white);
    font-size: 24px;
    margin-right: 350px;
    font-weight: 600;
}

.header__content {
    margin-left: auto;
    margin-right: auto;
}

.header__content-title {
    font-size: 140px;
    color: var(--white);
    margin-left: 184px;
    margin-bottom: 36px;
    font-weight: 700;
}


.header__content-img {
    margin-left: 142px;
}

.header__content-text {
    margin-left: 184px;
    max-width: 704px; 
    font-size: 28px;
    color: var(--white);
    margin-top: -60px;
    font-weight: 500;
}

.header__content-arrow {
    margin-left: 940px;
    padding-bottom: 124px;
    margin-top: 147px;
}

/* registration */

.regestration__student-link {
    font-size: 24px;
    font-weight: 600;
    color: var(--pink);
    cursor: pointer;
    transition: color .2s linear, fill .2s linear;
    align-items: center;
    margin-right: auto;
}

.regestration__student-group svg {
    margin-right: 24px;
}

.regestration__student {
    align-items: flex-start;
    margin-bottom: 40px;
}

.regestration__student-group {
    margin-left: 140px;
    margin-top: 10px;
}

.registration__title {
    font-size: 60px;
    font-weight: 700;
    color: var(--blue);
    margin-right: 400px;
    margin-left: auto;
}

.registration__items {
    flex-wrap: wrap;
    gap: 0px 32px;
    max-width: 968px;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;
}

.registration__items:last-child {
    margin-bottom: 80px;
}

.registration__input {
    height: 60px;
    width: 42px;
    border-radius: 12px;
    border: 2px solid var(--blue);
    border-color:var(--blue);
    padding-left: 15px;
    margin-right: 30px;
}

.registration__input:focus {
    border: 3px solid var(--blue);
    border-color:var(--blue);
    outline: none;
}

.registration__text {
    color: var(--blue);
    font-weight: 500;
    font-size: 28px;
    padding-top: 13px;
}

.registration__remark {
    color: var(--blue);
    font-weight: 400;
    font-size: 18px;
    max-width: 520px;
}

.registration__stage {
    background-color: var(--pink);
    border-style: solid;
    border-color: var(--pink);
    padding: 12px 9px 15px 18px;
    display: inline-block;
    font-family: QuinqueFive;
    font-weight: 400;
    font-size: 30px;
    color: var(--white);
}

.registration__img-box {
    margin-right: 42px;
}

.registration__img-line {
    justify-content: end center;
}

.registration__img-group { 
    align-items: center;
}

.registration__list-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0 42px;
    align-items: center;
    margin-bottom: 80px;
    
}

.registration__button {
    font-size: 24px;
    padding: 24px 56px 24px 56px;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 12px;
    border-style: solid;
    border-color: var(--pink);
    cursor: pointer;
    font-weight: 600;
    transition: border-color .2s linear, background-color .2s linear;
    position: relative;
}

.registration__button-position {
    gap: 0px 60px;
    justify-content: center;
}

.registration__button:focus {
    background-color: #FF6489;
    border-color: #FF6489;
}

.registration__button:hover {
    background-color: #FF6489;
    border-color: #FF6489;
}

.registration__button:active {
    background-color: #CE3D60;
    border-color:#CE3D60;
}

.regestration__student-link:focus {
    color: #FF6489;
}
.regestration__student-link:focus path {
    transition: fill .2s linear;
    fill: #FF6489;
}

.regestration__student-link:hover {
    color: #FF6489;
}
.regestration__student-link:hover path {
    transition: fill .2s linear;
    fill: #FF6489;
}

.regestration__student-link:active {
    color: #CE3D60;
}
.regestration__student-link:active path {
    transition: fill .2s linear;
    fill: #CE3D60;
}

.ch__box {
    background-image: url("../img/Default.svg");
    background-repeat: no-repeat;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 42px;
    height: 42px;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 4px solid var(--blue);
    margin-right: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% 110%;
}

.custom-checkbox:checked+label::before {
    background-image: url("../img/Active.svg");
    min-height: 100%;
    min-height: 100%;
}

.registration__input-hint {
    padding-top: 15px;
}

.registration__input-hint {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }

.registration__input-hint:hover::after {
    width: 350px;
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 60%; top: 70%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный цвет фона */
    font-family: Montserrat; /* Гарнитура шрифта */
    font-size: 16px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid var(--blue); /* Параметры рамки */
    color: var(--blue);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*footer*/

.footer__logo {
    margin-left: 130px;
    max-width: 180px;
    max-height: 81px;
    
}

.footer__position {
    height: 160px;
    align-items: center;
}


@media screen and (max-width: 1680px) and (max-height: 1050px){     
    body {
        zoom: 87%;
    }    
}

@media screen and (max-width: 1600px) and (max-height: 1024px){     
    body {
        zoom: 84%
    }
    
    .about__school-list {
        gap: 25px 100px;
    }      
}

@media screen and (max-width: 1600px) and (max-height: 900px){     
    body {
        zoom: 80%;
    }   
}

@media screen and (max-width: 1440px) and (max-height: 900px){     
    body {
        zoom: 76%;
    }    
}

@media screen and (max-width: 1366px) and (max-height: 768px){     
    body {
        zoom: 67%;
    }    
}


@media screen and (max-width: 1280px) and (max-height: 1024px){     
    body {
        zoom: 66%;
    }    
}

.choice__hint {
    max-width: 680px;
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: var(--blue);
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    margin-bottom: 60px;
}

.header__menu-right-have-photo {
    align-items: center;
}

/* Mini prof*/
.button__bell {
    margin-right: 28px;
}

.popup-window {
    display: none;
    position: absolute;
    right: 140px;
    top: 40px;
    width: 410px;
    z-index: 100;
}
  
.popup-window__title {
    max-width: 214px;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    color: var(--blue);
    word-wrap:break-word;
    width:100%;
    left:0;
    margin-bottom: 19px;
}
  
.popup-window__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--blue);
    max-width: 214px;
}
  
.popup-window__body {
    max-width: 410px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 18px 0px rgba(63,67,197,0.18);
    padding: 25px 34px 30px 28px;
}
  
.popup-window__text:not(:last-child) {
    margin-bottom: 12px;
}
 
.popup-window__photo-space {
    margin-right: 12px;
}

.popup-window__text-space {
    margin-right: 24px;
    min-width: 214px;
}


.show {display: block;}

.header__more-group {
    margin-right: 140px;
}

.mini-photo__size {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.header__button-more {
    margin-top: 29px;
    margin-left: 28px;
}