{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'authentication/recovery/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/recovery/css/style.css' %}">
    <title>U Summer School</title>
    <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.2/dist/accordion.min.css">
    <link rel="stylesheet" href="css/selection.css">

    <style>
        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;

            /*stacking fieldsets above each other*/
            position: relative;
        }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

        .error {
            border: 2px solid red;
        }

    </style>
</head>
<body>
    <!-- Регистрация 1 -->
    <header class="header">
        <div class="">
            <div class="container__white header__card">
                <div class="header__menu flex">
                    <a href="{% url 'home' %}" class="header__link-logo">
                        <img src="{% static 'authentication/recovery/img/header__logo.svg' %}" alt="Logo" class="header__logo" >
                    </a>
                </div>
            </div>
        </div>
    </header>
<main class="main">
        <section class="registration web-adaptive">
            <div class="container__white">
                <div class="flex">
                    <div class="regestration__student-group">
                        <a href="{% url 'home' %}" class="regestration__student-link flex">
                            <svg width="17" height="27" viewBox="0 0 17 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 3.1725L6.49258 13.5L17 23.8275L13.7652 27L1.31724e-06 13.5L13.7652 -1.41398e-07L17 3.1725Z" fill="#EF476F"/>
                            </svg>
                            Вернуться назад
                        </a>
                    </div>
                    <div class="header__position-home">
                        <h2 class="registration__title">
                            Регистрация
                        </h2>
                    </div>

                </div>
                <div class="web-adaptive">
                    <ul class="list-reset registration__list-form flex" id="progressbar">
                        <li class="test">
                            <div class="flex registration__img-group">
                                <div class="registration__not-stage swipe-1-before registration__img-box"></div>
                                <p class="registration__stage registration__img-box swipe swipe-1">
                                    1
                                </p>
                                <svg class="registration__img-line" width="362" height="9" viewBox="0 0 362 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="362" height="9" fill="#3F43C5"/>
                                </svg>
                            </div>
                        </li>
                        <li class="test">
                            <div class="flex registration__img-group">
                                <div class="registration__not-stage swipe-2-before registration__img-box"></div>
                                <p class="registration__stage registration__img-box swipe swipe-2">
                                    2
                                </p>
                                <svg class="registration__img-line" width="362" height="9" viewBox="0 0 362 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="362" height="9" fill="#3F43C5"/>
                                </svg>
                            </div>
                        </li>
                        <li class="test active">
                            <div class="flex registration__img-group">
                                <div class="registration__not-stage swipe-2-before registration__img-box"></div>
                                <p class="registration__stage registration__img-box swipe swipe-2">
                                    3
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="web-adaptive">
                    <div class="flex" style="flex-direction: column;">
                        <p class="password__reset-mail-text">
                            Завершение регистрации
                        </p>
                        <p class="password__reset-text-reg">
                            На указанный Вами адрес электронной почты мы выслали письмо с подтверждением почты. Перейдите по ссылке из письма и завершите регистрацию.
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <footer>
        <div class="container__blue-footer footer__position flex">
            <a href="{% url 'home' %}" class="footer__logo">
                <img src="{% static 'authentication/recovery/img/footer__logo.svg' %}" alt="Logo" class="header__logo" >
            </a>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

        let id_username = document.querySelector('#id_username');
        let id_email = document.querySelector('#id_email');
        let id_password1 = document.querySelector('#id_password1');
        let id_password2 = document.querySelector('#id_password2');
        let first_name = document.querySelector('#first_name');
        let last_name = document.querySelector('#last_name');
        let patronymic_name = document.querySelector('#patronymic_name');
        let phone = document.querySelector('#phone');
        let university = document.querySelector('#university');
        let university_faculty = document.querySelector('#university_faculty');
        let university_specitality = document.querySelector('#university_specitality');
        let university_course = document.querySelector('#university_course');

        var values1 = [id_username, id_password1, id_password2, id_email];

        const form = document.querySelector('form');
        var page = 1;


    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if (page == 1) {
            values1.forEach(element => {
                if (element.value == '') {
                    element.classList.add('error');
                }
            });
        }


        if (id_username.value != ''){
            if(animating) return false;
            animating = true;

            if (page == 1) {
            values1.forEach(element => {
                if (element.value != '') {
                    element.classList.remove('error');
                }
            });
        }



            current_fs = $(this).parent().parent();
            next_fs = $(this).parent().parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");




            //show the next fieldset
            next_fs.show();
            page += 1;
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 20)+"%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                'transform': 'scale('+scale+')',
                'position': 'absolute'
            });
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 600,
                complete: function(){
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        };
        });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent().parent();
        previous_fs = $(this).parent().parent().prev();


        //show the previous fieldset
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
        $("#progressbar li").eq($("fieldset").index(previous_fs)).addClass("active");
        previous_fs.show();
        page -= 1;
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 20)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 600,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    </script>

</body>
</html>