{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'accounts/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/style_edit.css' %}">
    <title>U Summer School</title>
    <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.2/dist/accordion.min.css">
    <link rel="stylesheet" href="{% static 'accounts/css/seceltion_edit.css' %}">
</head>
<body>
    <header class="header">
        <div class="">
            <div class="container__white header__card">
                <div class="header__menu flex">
                    <a href="{% url 'home' %}" class="header__link-logo">
                        <img src="{% static 'accounts/img/header__logo.svg' %}" alt="Logo" class="header__logo" >
                    </a>
                    <div class="flex header__menu-right-have-photo">
                        <div></div>
                        <a href="{% url 'account_student' %}" class="header__link button__bell">
                            Личный кабинет
                        </a>                 
                        <div class="flex">                        
                            <button class="button-reset button__bell">
                                <svg width="29" height="40" viewBox="0 0 29 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5 40C16.4937 40 18.125 38.4308 18.125 36.5128H10.875C10.875 38.4308 12.5063 40 14.5 40ZM25.375 29.5385V20.8205C25.375 15.4677 22.4206 10.9867 17.2188 9.80103V8.61538C17.2188 7.16821 16.0044 6 14.5 6C12.9956 6 11.7812 7.16821 11.7812 8.61538V9.80103C6.5975 10.9867 3.625 15.4503 3.625 20.8205V29.5385L0 33.0256V34.7692H29V33.0256L25.375 29.5385ZM21.75 31.2821H7.25V20.8205C7.25 16.4964 9.98687 12.9744 14.5 12.9744C19.0131 12.9744 21.75 16.4964 21.75 20.8205V31.2821Z" fill="#3F43C5"/>
                                    <circle cx="24" cy="5" r="5" fill="#EF476F"/>
                                </svg>
                                                           
                            </button>                                
                        </div>
                        <div class="personal-account-mini">
                            <div class="flex">
                                <button class="button-reset flex popup-btn header__more-group" onclick="myFunction()">
                                    <img src="{% static 'accounts/img/mini-photo.png' %}" alt="mini-photo" class="popup-btn mini-photo__size">
                                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="header__button-more popup-btn">
                                        <path d="M2.7025 0.5L11.5 9.77125L20.2975 0.5L23 3.35425L11.5 15.5L0 3.35425L2.7025 0.5Z" fill="#3F43C5"/>
                                    </svg>                                                                                                                       
                                </button>
                                <div class="popup-window" id="myDropdown">
                                    <div class="form-container popup-window__body flex">
                                        <div class="popup-window__photo-space">
                                            <img src="{% static 'accounts/img/mini-photo.png' %}" alt="mini-photo" class="mini-photo__size">
                                        </div>            
                                        <div class="popup-window__text-space">
                                            <p class="popup-window__title">
                                                Иван Иванов Иванович
                                            </p>
                                            <ul class="list-reset popup-window__list">
                                                <li class="popup-window__text">
                                                    <a href="{% url 'account_student' %}">Профиль</a>
                                                    
                                                </li>
                                                <li class="popup-window__text">
                                                    <a href="{% url 'lk_account_student_programs' %}">Мои направления</a>
                                                    
                                                </li>
                                                <li class="popup-window__text">
                                                    <a href="{% url 'logout' %}">Выйти из аккаунта</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="">
                                            <button type="button" class="button-reset popup-btn-close">
                                                <img src="{% static 'accounts/img/arrow.svg' %}" alt="" class="popup-btn-close">
                                            </button>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>                            
            </div>
        </div>
    </header>
    <main class="main">
        <section class="registration web-adaptive">
            <div class="container__white">
                <div class="flex regestration__student">
                    <div class="regestration__student-group">         
                        <a href="{% url 'account_student' %}" class="regestration__student-link flex">
                            <svg width="17" height="27" viewBox="0 0 17 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 3.1725L6.49258 13.5L17 23.8275L13.7652 27L1.31724e-06 13.5L13.7652 -1.41398e-07L17 3.1725Z" fill="#EF476F"/>
                            </svg>  
                            Вернуться назад
                        </a>
                    </div>                   
                    <div class="header__position-home">
                        <h2 class="registration__title">
                            Личные данные
                        </h2>
                    </div>
                    
                </div>
                <div>
                    <form action="{% url 'lk_account_student_edit' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <ul class="list-reset registration__list">
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Имя
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input type="text" class="registration__input" required name="first_name" id="first_name" placeholder="first_name" value="{{ user.profile.first_name }}"/>
                                    <p class="registration__remark">
                                        Доступны только русские символы
                                    </p>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Фамилия
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input type="text" class="registration__input" required name="last_name" id="last_name" placeholder="last_name" value="{{ user.profile.last_name }}"/>
                                    <p class="registration__remark">
                                        Доступны только русские символы
                                    </p>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Отчество*
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input type="text" class="registration__input"  name="patronymic_name" id="patronymic_name" placeholder="patronymic_name" value="{{ user.profile.patronymic_name }}"/>
                                    <p class="registration__remark">
                                        Доступны только русские символы<br>
                                        *при наличии
                                    </p>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Телефон
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input class="registration__input" required type="text" name="phone" id="phone" placeholder="phone" value="{{ user.profile.phone }}"/>
                                    <p class="registration__remark">
                                        Формат +7 XXX XXX-XX-XX
                                    </p>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Учебное заведение
                                </p>
                                <div class="registration__input-remark">
                                    <input class="registration__input" required type="text" name="university" id="university" placeholder="university" value="{{ user.profile.university }}"/>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Факультет
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input class="registration__input" required type="text" name="university_faculty" id="university_faculty" placeholder="university_faculty" value="{{ user.profile.university_faculty }}"/>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Специальность
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <input class="registration__input" required type="text" name="university_specitality" id="university_specitality" placeholder="university_specitality" value="{{ user.profile.university_specitality }}"/>
                                </div>
                            </li>
                            <li class="registration__items flex web-adaptive">
                                <p class="registration__text">
                                    Курс
                                </p>
                                <div class="registration__input-remark">
                                    <!-- type="text" -->
                                    <select class="registration__input educate-stage" name="university_course" id="university_course">
                                        <option value="2 курс">2 курс</option>
                                        <option value="3 курс">3 курс</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="registration__button-position flex">
                        <input type="submit" value="Сохранить изменения" class="registration__button">
                    </div>
                </form>

                </div>

            </div>
        </section>     
    </main>

    <footer>
        <div class="container__blue-footer footer__position flex">
            <a href="{% url 'home' %}" class="footer__logo">
                <img src="{% static 'accounts/img/footer__logo.svg' %}" alt="Logo" class="header__logo" >
            </a>
        </div>
    </footer>
    
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="jquery.maskedinput.min.js"></script>    

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.popup-btn')) {

                var dropdowns = document.getElementsByClassName("popup-window");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    console.log(event.target.classList.contains('popup-btn-close'));
                    console.log(event.target.classList);
                    if (openDropdown.classList.contains('show') && event.target.classList.contains('popup-btn-close')) {
                        openDropdown.classList.remove('show');
                    }

                    if (!openDropdown.classList.contains('show')) {
                        document.querySelector('meta[name="user-scalable"]').setAttribute("no", _desc);
                    }
                }
            }
        }
    </script>
</body>
</html>